/* * {
    font-family: 'Courgette', cursive;
    font-family: 'Roboto', sans-serif;      
} */


*  {
        font-family: "Racing Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
        h1, h2, h3, h4, h5, h6 {
            font-family: "Racing Sans One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

body{
    background-color: slategray;
}

nav, .nav{
    background-color:  slategray;
    

}


#cont {
    background-color: slategray;
}
.nav-link {
    color: #651114;
}

.navbar a {
    color: #651114;
} 

img
{
   width: 50%;
   margin: auto;
}

.skills {
    margin-left: 2rem;
}


.navbar-nav {
    margin-left: 2rem;
}

.navbar-nav a {
    color: black;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}
.headshot {
    width: 25%;
    height: 25%;
    margin-top: 1rem;
    display: block;
    border-radius: 75%;
    border: 2px solid #651114;
    box-shadow: 0 0 10px 5px #651114;
}

.brand-logo {
    width: 3rem;
    height: 2rem;
}
